
/*second container that houses the dates*/
table.jCalendar {
	border: 0px solid  #fff;
	background: #fff;
    border-collapse: separate;
    border-spacing: 2px;
    width:100%;
}
table.jCalendar th {
	background: #FFCC33;
	color: #000;
	font-weight: bold;
	padding: 3px 5px;
}
/*this is the small box which hold the date numbers*/
table.jCalendar td {
	background: #CCC;
	color: #333;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	background: #333;
	color: #000;
}
table.jCalendar td.selected {
	background: #00FF66;
	color: #000;
	font-weight:bold;
}
table.jCalendar td.selected:hover {
	background: #00FF66;
	color: #f33;
}
table.jCalendar td:hover, table.jCalendar td.dp-hover {
	background: #00FF66;
	color: #000;
}
table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

/*div.dp-popup- this is outer layer of the calender*/
div.dp-popup {
	position:static;
	background: #CCC;
	font-size: 14px;
	font-family: arial;
	padding: 2px;
	width: 250px;
	line-height: 1.0em;
	border:2px solid #E1E1E1;
}
div#dp-popup {
	position:fixed;
	z-index: 0;
}
 /*calendar header month and year*/ 
div.dp-popup h2 {
	font-size: 14px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #003366;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}


/*Styling the datepicker icon and input field*/

#chooseDateForm li {
	list-style: none;
	padding: 0px;
	clear: both;
}

input.dp-applied {
	float: left;
	color:#000000;
	font-family:Arial;
	
}


a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -200px;
	overflow: hidden;
	background: url(../images/icons/calendar_pick.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

#calendar-me {
	margin: 20px;
}