/* CSS Document */

    #tabs {
      /*float:left;*/
      width:98%;
	  height:35px;
      background: #FAFAFA;
      font-size:93%;
      line-height:normal;
      /*border:1px solid #666;*/
	 /*center div */ 
	  margin-left:auto;
	  margin-right:auto;
      }
	  
	#tabs p{
		display:block;
		width:200px;
		float:right;
		margin:0;
      }
    #tabs ul {
        margin:0;
        padding:10px 0px 0 0px;
        list-style:none;
      }
      
     #tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs a {
      float:left;
      background: url(../images/left.gif) no-repeat left top;
      background-position:0% -3px;
      margin:0px;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs a span {
      float:left;
      display:block;
      background:url(../images/right.gif) no-repeat right top;
      background-position:100% -3px;
      padding:5px 15px 4px 6px;
      color:#666;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span {
      color:#FFF;
      }
    #tabs a:hover {
      background-position:0% -45px;
      }
    #tabs a:hover span {
      background-position:100% -45px;
      }

        #tabs #current a {
				font-weight:bold;
                background-position:0% -45px;
        }
        #tabs #current a span {
                background-position:100% -45px;
        }
		
		#tabs .current a {
				font-weight:bold;
                background-position:0% -45px;
        }
        #tabs .current a span {
                background-position:100% -45px;
        }