/* CSS Document */

body,html{
margin:0;
padding:0;
}	

body{
font-family:Arial;
font-size:15px;
/*border:1px solid;*/
}

#header{
width:98%;
height:80px;
padding:0px;
background-color:#FAFAFA;
/*center div */
margin-left:auto;
margin-right:auto;
}

#submenu{
width:98%;
height:25px;
padding-top:5px;
background-color:#FFCC33;
/*center div */
margin-left:auto;
margin-right:auto;
}

#tab-bottom{
width:98%;
height:25px;
padding-top:5px;
background-color:#FFCC33;
/*center div */
margin-left:auto;
margin-right:auto;
}


#submenu a{
text-align:center;
text-decoration:none;
float:left;
display:block;
width:130px;
height:20px;
padding-top: 2px;
margin-top:3px;
margin-bottom:0px;
margin-left:10px;
color:#666;

}


a#curr{
float:left;
display:block;
width:130px;
height:20px;
text-align:center;
background-color:#FFFFFF;
padding-top: 2px;
margin-top:3px;
margin-bottom:0px;
margin-left:6px;
text-decoration:none;
color:FFCC33;
}

#white{
width:98%;

background-color:#FFCC33;
/*center div */
margin-left:auto;
margin-right:auto;

}

#white-padded{
width:98%;
padding-top:7px;

background-color:#FFCC33;
/*center div */
margin-left:auto;
margin-right:auto;

}

#body{
width:99%;
min-height:500px;
background-color:#FFFFFF;

margin:auto;
}

form
{
width:70%;
padding:10px;
background-color:#FAFAFA;
border:1px solid #E1E1E1;

/*center div */
margin-left:auto;
margin-right:auto;
}


.gray
{
width:70%;
padding:10px;
background-color:#FAFAFA;
border:1px solid #E1E1E1;

/*center div */
margin-left:auto;
margin-right:auto;
}

#school-logo
{
width:50px;
height:50px;
background:#666666;
z-index:1;
border:1px dotted #FFCC33;
}

#msg
{
background-color:#00FF33;
border:1px solid #006600;
padding:10px;
height:auto;
width:70%;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
color:#006600;
font-weight:bold;
font-size:16px;
font-family:Arial;
text-align:center;
min-height:30px;
/*visibility:hidden;*/
}

#parentExists{
visibility:hidden;
display:none;
}

.error{
color:#ff0000;
font-size:12px;
font-style:italic;
}